@model School_Management_System.Models.Departments
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <dl>
        <dd>
            @Html.DisplayNameFor(k=>k.Name)
        </dd>
        <dt>
            @Html.DisplayFor(k=>k.Name)
        </dt>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>&nbsp;
        <a asp-action="Index" class="btn btn-success">Back to</a>
    </div>
</div>
